{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <p>Bem-vindo!</p><br />
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">Suas opções...</h2>
                    </a>
                    <h3 class="post-subtitle">Rotas:</h3>
                    <p class="post-meta">
                        / - Orientações<br />
                        /cliente/ - novo cliente<br />
                        /clientes/json - lista de clientes em formato json<br />
                        /clientes/html - lista de clientes em formato html<br />
                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <p>Divirta-se!</p
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


